<?xml version="1.0" ?>
<robot name="jumping_robot_urdf_backup_copy" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="materials.xacro" />
<xacro:include filename="jumping_robot_urdf_backup_copy.trans" />
<xacro:include filename="jumping_robot_urdf_backup_copy.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.013572090010166953 0.07234958657969306 -0.0004353043410476317" rpy="0 0 0"/>
    <mass value="0.2824006607720704"/>
    <inertia ixx="0.001426" iyy="7.2e-05" izz="0.001359" ixy="-5e-06" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
